<h1><%= title %></h1>
<p>Welcome. Here is what we’re running:</p>
<pre><%= versions %></pre>
<div id="results"></div>
<script>
  jQuery(function() {
    $(window).keypress(function(event) {
      $('#results').append('which = ' + event.which + 
          ', keyLocation = ' + event.originalEvent.keyLocation + '<br>');
    });
  });
</script>