h1= title
p 
  | This is a demonstration of
  a(href="http://socket.io/") Socket.IO
  |  running on
  a(href="http://nodejs.org/") Node
  | , version #{process.versions.node}.
p Click the button to send a message to the server, which, in turn,
  |  sends back an echoing message.
button(onclick='send_message()') Click me!
p(id="messages")
