<h1><%= title %></h1>
<p id="intro">
  <i>Welcome!</i> We’re running <a href="http://nodejs.org">Node</a> 
  version <%= node_version %> in
  <%= environment %> mode, with <a href="http://expressjs.com/">Express</a>
  version <%= express_version %>.
</p>
<p>
  We are using <span class='sansSerif'>Computer Modern Unicode</span>
  fonts, which come in Roman, <i>Italic</i>, <b>Bold</b>, and 
  <b><i>Bold Italic</i></b>.
<p>
