<h1><%= title %></h1>
<p>Welcome. We’re running Node version <%= versions.node %>.</p>
<button id='getJSON'>Get JSON</button>
<hr>
<div id="results"></div>
<script src="/javascript/getJSON.js"></script>