!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script
      $(function() {
        window.send_message = (function() {
          $('#messages').append('<div>Creating socket...</div>');
          var socket = new io.Socket();
          $('#messages').append('<div>Connecting...</div>');
          socket.connect();
          $('#messages').append('<div>Setting callback...</div>');
          socket.on('message', function(message) {
            $('#messages').append('<div>Delivering message...</div>');
            alert('Received message "' + message + '" via ' +
              socket.transport.type);
            $('#messages').append('<div>Message delivered</div>');
          });
          $('#messages').append('<div>Setup complete</div>');

          function send_message() {
            $('#messages').append('<div>Starting send...</div>');
            if (!socket.connected) {
              $('#messages').append('<div>Reconnecting...</div>');
              socket.connect();
            }
            else {
              $('#messages').append('<div>Already connected...</div>');
            }
            socket.send('Hello from the client!');
            $('#messages').append('<div>Message sent</div>');
          }

          return send_message;
        })();
      });

  body!= body
