@font-face {
  font-family: CMUSerif;
  src: url(/fonts/cmunrm.otf);
}

@font-face {
  font-family: CMUSerif;
  font-style: italic;
  src: url(/fonts/cmunti.otf);
}

@font-face {
  font-family: CMUSerif;
  font-weight: bold;
  src: url(/fonts/cmunbx.otf);
}

@font-face {
  font-family: CMUSerif;
  font-weight: bold;
  font-style: italic;
  src: url(/fonts/cmunbi.otf);
}

@font-face {
  font-family: CMUSansSerif;
  font-weight: bold;
  src: url(/fonts/cmunsx.otf);
}
